
#header{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/header/header-xl.png);
    background-size: cover;
    background-position: center;
}
#clsu-logo{
  height: 65px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 4px gray;
}
#department-logo{
  height: 63px;
  /* border: 1px solid gray; */
  background-color: #eaeaea;
  border-radius: 50px;
  box-shadow: 0 0 4px gray;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 58pt;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-size: 16pt;
}
.inter-font-sm {
    font-size: 13pt;
}
@media  screen and (max-width: 1200px) {
  /* #header-border-left{
    margin-left: -5rem;  
  }
  #header-border-right{
    margin-left: -3rem;
  } */
}
@media  screen and (max-width: 990px) {
  .anton-regular {
    font-size: 53pt;
  }
}
@media  screen and (max-width: 860px) {
  /* #header{
    height: 400px;
  }  */
  .anton-regular {
    font-size: 35pt;
  }
  .inter-font {
    font-size: 14pt;
  }
  .inter-font-sm {
    font-size: 11pt;
  }
  /* #header-border-left{
    margin-left: -5rem; 
  }
  #header-border-right{
    margin-left: -7rem;
  } */
}

@media  screen and (max-width: 570px) {
  /* #department-logo{
    height: 75px;
  } */
  /* #header{
    height: 350px;
} */
  .anton-regular {
    font-size: 28pt;
  }
  .inter-font {
    font-size: 12pt;
  }
  #clsu-logo{
    height: 50px;
  }
  #department-logo{
    height: 52px;
  }
}
@media  screen and (max-width: 450px) {
  /* #header{
    height: 300px;
  }  */
    /* .sub-title{
      font-size: 8.5pt;
    } */
  .nav-logo{
    display: none;
  }
  .anton-regular {
    font-size: 21pt;
  }
  .inter-font {
    font-size: 10.5pt;
  }
}