.primary-color{
    background-color: rgb(16, 32, 48);
    color: rgb(236, 236, 236);
}
.secondary-color{
    color: rgb(16, 32, 48);
    background-color: rgb(236, 236, 236);
}
#main-nav{
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    background: white;
}
@media  screen and (max-width: 575px) {
    #main-nav{
        top: 55px; 
    }
  }