#map-view {
    height: calc(100vh - 70px);
}
#map{
    height: inherit;
}

.info.legend {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
}


@media  screen and (min-width: 767px) {
    /* #page-title{
        font-size: 1.2rem;
        text-align: center;
    } */
    #map-view{
        margin-top: .5rem;
        height: calc(92.5vh - 60px) !important;
    }
    /* #map-details{
        height: 45dvh;
        margin-top: 4px;
        align-items: start;
    } */
    /* #map-hint{
        height: 39dvh;
    } */
}

@media  screen and (min-width: 991px) {
    /* #page-title{
        font-size: 1.2rem;
        text-align: center;
    } */
    #map-view{
        margin-top: .5rem;
        height: calc(85vh - 60px) ;
    }
    /* #map-details{
        height: 45dvh;
        margin-top: 4px;
        align-items: start;
    /* } */
} 
@media  screen and (max-width: 420px){
    #page-title{
        font-size: 1rem;
        text-align: center;
    }
}
