body{
    overflow-x: hidden;
}
.card{
    transition: transform .3s;
}
.card:hover{
    transform: scale(1.020);
}
@media (min-width: 768px) {
    .container-md-fluid {
      width: auto;
      max-width: 90vw;

    }
  }